{% extends 'property/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Add Property | Property Calculator {% endblock title %}

{ {% block content %}
<div class="container">
  <div class="row" style="margin: 2rem 0 0 0;">
    <div class="col-md-8">
      <form action="" method="post" style="padding: 1rem; border: solid 1px rgb(201, 201, 201); border-radius: 0.2rem;">
        {{ property_form|crispy }}
        {% csrf_token %}
        <div class="form-group text-right">
          <button class="btn btn-success">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}