{% extends 'property/base.html' %}
{% load static %}
{% block title %} Compare Properties | Property Calculator {% endblock title %}

{% block content %}
<div id="compare_property" class="container" style="margin-top: 1rem;">
  <div id="property" class="row">
    
  </div>
  <br><br>
</div>
<script>
  axios.defaults.xsrfCookieName = 'csrftoken'
  axios.defaults.xsrfHeaderName = 'X-CSRFToken'

  var app = new Vue({
    delimiters: ['{', '}'],
    el: '#add_property',
    data: {
      property_data: null,
    },
    methods: {
      add_property(){

      }
    },
  })
</script>
{% endblock content %}