{% extends 'property/base.html' %}
{% load static %}
{% block title %} Compare Properties | Property Calculator {% endblock title %}

{% block content %}
<div id="compare_property" class="container" style="margin-top: 1rem;">
  <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th >#</th>
            <th v-for="(x,k) in property_data">Property { k+1 }</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Property Type</th>
            <td v-for="th in type">{ th }</td>
          </tr>
          <tr>
            <th>Land Area (ft²)</th>
            <td v-for="la in land_area">{ la }</td>
          </tr>
          <tr>
            <th>Transaction Price (MYR)</th>
            <td v-for="tp in transaction_price">{ tp }</td>
          </tr>
          <tr>
            <th>Transaction Price (/ft²)</th>
            <td v-for="ppf in price_per_ft2">{ ppf.toFixed(2) }</td>
          </tr>
          <tr>
            <th>Date</th>
            <td v-for="dt in date">{ dt }</td>
          </tr>
          <tr>
            <th>Est. Built Up Area (ft²)</th>
            <td v-for="bua in built_up_area">{ bua }</td>
          </tr>
        </tbody>
      </table>
  </div>
  <br><br>
</div>
<script>
  axios.defaults.xsrfCookieName = 'csrftoken'
  axios.defaults.xsrfHeaderName = 'X-CSRFToken'

  var app = new Vue({
    delimiters: ['{', '}'],
    el: '#compare_property',
    data: {
      compareProp: null,
      property_data: null,
      tabel_header: ["Type","Land Area","Transaction Price","Date","Est. Built Up Area"],
      type: [],
      land_area: [],
      transaction_price: [],
      date: [],
      built_up_area: [],
      price_per_ft2: [],
    },
    created(){
      this.get_properties()
    },
    methods: {
      get_properties(){
        axios.get('/rest-api/')
        .then( res => {
          this.property_data = res.data;
          var prop = this.property_data
          for(var i=0; i<prop.length; i++){
            // console.log(prop[i])
            for (x in prop[i]){
              if(x == "property_type"){
                this.type.push(prop[i][x])
              }
              if(x == "land_area"){
                this.land_area.push(prop[i][x])
              }
              if(x == "date"){
                this.date.push(prop[i][x])
              }
              if(x == "built_up_area"){
                this.built_up_area.push(prop[i][x])
              }
              if(x == "transaction_price"){
                this.transaction_price.push(prop[i][x])
              }
              if(x == "price_per_ft2"){
                this.price_per_ft2.push(prop[i][x])
              }
            } 
          }
          // console.log(this.type)
          // console.log(this.land_area)
          // console.log(this.date)
          // console.log(this.built_up_area)
          // console.log(this.price_per_ft2)
        })
        .catch( err => {
          console.log(err.data)
        });
      },
      save_property(){
        axios.post().then().catch();
      }
    }
  })
</script>
{% endblock content %}